:root {
  --font-sans: "DM Sans", sans-serif;
  --font-inter: "Inter", sans-serif;
  --bold-300: 300;
  --bold-400: 400;
  --bold-500: 500;
  --bold-700: 700;
  --bitcoin-orange: #f7931a;
  --soft-orange: #ffe9d5;
  --secondary-blue: #1a9af7;
  --soft-blue: #e7f5ff;
  --warm-black: #282623;
  --black: #201e1c;
  --grey: #bababa;
  --off-white: #faf8f7;
  --just-white: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: var(--font-sans);
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

/* Inicio estilos header */

.header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  min-width: 320px;
  height: 334px;
  text-align: center;
  background: linear-gradient(207.8deg, #201e1c 16.69%, #f7931a 100%);
}

.header__img {
  width: 150px;
  height: 24px;
  margin-top: 60px;
  align-self: center;
}

.header__div {
  width: 90%;
  min-width: 288px;
  max-width: 900px;
  height: 218px;
  margin-top: 34px;
  text-align: center;
  align-self: center;
}

.header__h1 {
  font-size: 2.4rem;
  font-weight: var(--bold-700);
  line-height: 2.6rem;
  color: var(--just-white);
}

.header__p {
  margin-top: 25px;
  font-weight: var(--bold-500);
  font-size: 1.4rem;
  line-height: 1.8rem;
  color: var(--soft-orange);
}

.header__button {
  position: absolute;
  top: calc(100% - 24px);
  left: calc(50% - 114.5px);
  display: block;
  padding: 15px;
  width: 229px;
  height: 48px;
  background-color: var(--off-white);
  box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
  border: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  font-size: 1.4rem;
  font-weight: var(--bold-700);
  text-decoration: none;
  color: var(--black);
}

.header__span {
  display: inline-block;
  width: 13px;
  height: 8px;
  margin-left: 10px;
  background-image: url("../icons/down-arrow.svg");
}

/* Fin estilos header */

/* Inicio estilos main */

.main {
  width: 100vw;
  min-width: 320px;
  height: auto;
  background-color: var(--off-white);
}

.mainExchange {
  width: 100%;
  height: auto;
  padding-top: 80px;
  padding-bottom: 30px;
  text-align: center;
}

.mainExchange__bg {
  width: 200px;
  height: 200px;
  margin: 0 auto 50px auto;
  background: url("../img/Bitcoin.svg") center/cover no-repeat;
}

.mainExchange__div {
  width: 90%;
  min-width: 288px;
  max-width: 900px;
  margin: 0 auto;
}

.mainExchange__h2 {
  margin-bottom: 30px;
  font-size: 2.4rem;
  font-weight: var(--bold-700);
  line-height: 2.6rem;
  color: var(--black);
}

.mainExchange__p {
  margin-bottom: 30px;
  font-size: 1.4rem;
  font-weight: var(--bold-500);
  line-height: 1.6rem;
  color: #757575;
}

.mainExchange__container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mainExchange__slider {
  display: flex;
  min-width: 300px;
  height: 380px;
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  scroll-snap-type: x proximity;
}

.mainExchange__content {
  scroll-snap-align: center;
  width: 70%;
  min-width: 235px;
  max-width: 500px;
  height: 360px;
  margin: 0 50px;
  font-family: var(--font-inter);
  position: relative;
}

.mainExchange__title {
  margin-bottom: 15px;
  font-size: 1.8rem;
  font-weight: var(--bold-700);
  line-height: 2.3rem;
  color: var(--bitcoin-orange);
  text-align: start;
}

.mainExchange__title--color {
  color: var(--secondary-blue);
}

.mainExchange__layout {
  width: 90%;
  min-width: 230px;
  max-width: 300px;
  height: 250px;
  margin: 0 auto;
}

.mainExchange__table {
  width: 100%;
  height: 100%;
}

.mainExchange__td {
  width: 50%;
  font-size: 1.6rem;
  font-weight: var(--bold-500);
  line-height: 1.9rem;
  color: var(--grey);
  background-color: var(--just-white);
}

.mainExchange__td--borderTopLeft {
  border-top-left-radius: 15px;
}

.mainExchange__td--borderBottomLeft {
  border-bottom-left-radius: 15px;
}

.mainExchange__td--borderTopRight {
  border-top-right-radius: 15px;
}

.mainExchange__td--borderBottomRight {
  border-bottom-right-radius: 15px;
}

.mainExchange__td:nth-child(2n) {
  font-size: 1.4rem;
  font-weight: normal;
  line-height: 1.7rem;
  color: #757575;
}

.mainExchange__span {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-left: 10px;
  background: url("../icons/trending-down.svg") center no-repeat;
}

.mainExchange__span--up {
  background: url("../icons/trending-up.svg") center no-repeat;
}

.mainExchange__card {
  width: 190px;
  height: 30px;
  margin: 15px auto 0 auto;
  padding: 8px;
  background-color: var(--soft-orange);
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.mainExchange__text {
  font-size: 1.2rem;
  line-height: 1.5rem;
  color: var(--warm-black);
}

.mainExchange__card--color {
  background-color: var(--soft-blue);
}

.mainExchange__next {
  position: absolute;
  top: calc(50% - 7.5px);
  right: 10px;
  width: 15px;
  height: 15px;
}

.productDetail {
  position: relative;
  width: 100%;
  min-width: 320px;
  height: auto;
  padding: 20px 10px;
  background-color: var(--black);
}

.productDetail__logo {
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 40px;
  height: 25px;
  background-image: url("../icons/batata.svg");
}

.productDetail__div {
  width: 90%;
  min-width: 288px;
  height: auto;
  margin: 50px auto 0 auto;
  text-align: center;
}

.productDetail__h2 {
  margin-bottom: 20px;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--just-white);
}

.productDetail__p {
  margin-bottom: 20px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: #808080;
}

.productDetail__card {
  width: 90%;
  min-width: 288px;
  max-width: 400px;
  min-height: 150px;
  height: auto;
  margin: 15px auto;
  padding: 15px;
  background-color: var(--warm-black);
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
}

.productDetail__icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-bottom: 10px;
}

.productDetail__icon--clock {
  background: url("../icons/clock.svg") center/cover no-repeat;
}

.productDetail__icon--eye {
  background: url("../icons/eye.svg") center/cover no-repeat;
}

.productDetail__icon--money {
  background: url("../icons/dollar-sign.svg") center/cover no-repeat;
}

.productDetail__icon--check {
  background: url("../icons/check-circle.svg") center/cover no-repeat;
}

.productDetail__p--title {
  margin-bottom: 15px;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 1.8rem;
  color: var(--just-white);
}

.bitcoinImg {
  width: 100%;
  min-width: 320px;
  height: 50vh;
  background: url("../img/bitcoinbaby2x.jpg") center/cover no-repeat;
  text-align: center;
}

.bitcoinImg__h2 {
  padding-top: 60px;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--just-white);
}

.plansContent {
  width: 100%;
  min-width: 320px;
  padding-bottom: 70px;
  text-align: center;
  background-color: var(--off-white);
}

.plansContent__texts {
  width: 90%;
  min-width: 288px;
  height: auto;
  margin: 0 auto 25px auto;
}

.plansContent__h2 {
  padding-top: 50px;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--black);
}

.plansContent__p {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: #757575;
}

.plansContent__p--padding {
  padding-top: 30px;
}

.plansContent__slider {
  display: flex;
  height: 300px;
  margin: 0 auto;
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  scroll-snap-type: x proximity;
}

.plansContent__card {
  position: relative;
  scroll-snap-align: center;
  width: 70%;
  min-width: 190px;
  max-width: 300px;
  height: 250px;
  margin: 25px 5px 0;
  padding: 0 15px;
  background-color: var(--just-white);
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(89, 73, 30, 0.16);
}

.plansContent__float {
  position: absolute;
  width: 120px;
  height: 31px;
  top: -15px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--bitcoin-orange);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  color: var(--just-white);
}

.plansContent__h3 {
  padding-top: 30px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: black;
}

.plansContent__price {
  padding: 5px 0;
  font-size: 5.2rem;
  font-weight: bold;
  line-height: 5.3rem;
  color: black;
}

.plansContent__span {
  font-size: 1.2rem;
  font-weight: 300;
  vertical-align: 25px;
  font-family: inherit;
}

.plansContent__p--size {
  margin: 10px auto 0;
  font-size: 1.2rem;
  line-height: 1.4rem;
}

.plansContent__button {
  width: 150px;
  height: 48px;
  margin-top: 20px;
  background-color: var(--off-white);
  border: 2px solid var(--bitcoin-orange);
  border-radius: 4px;
  font-family: inherit;
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 1.8rem;
  cursor: pointer;
}

.plansContent__icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url("../icons/orange-right-arrow.svg") center/cover no-repeat;
  vertical-align: text-bottom;
}

/* Fin estilos main */

/* Estilos footer */

.footer {
  display: flex;
  width: 100%;
  height: 150px;
  background-color: var(--bitcoin-orange);
}

.footer__section {
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
}

.footer__ul {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  list-style: none;
}

.footer__li {
  margin: 10px 0;
}

.footer__a {
  text-decoration: none;
  color: var(--just-white);
}
